.center {
  text-align: center;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 11px #000, 0px 0px 0px 13px #000;
  z-index: 100;
}

.notch {
  width: 138px;
  height: 19.3px;
  background: #000;
  position: absolute;
  z-index: 100;
  border-bottom-left-radius: 15px;
  left: 59.1px;
  border-bottom-right-radius: 15px;
}

.iphone {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 256px;
  margin-left: 26vw;
  height: 544px;
  min-height: 544px;
  /* background-color: #ffffff; */
  border-radius: 30px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px 11px #000;
  z-index: 1000;
}

.iphone img {
    width: 100%;
    /* border-radius: 30px; */
}


.iphone-mobile {
  position: relative;
  width: 256px;
  margin-left: 26vw;
  height: 544px;
  min-height: 544px;
  /* background-color: #ffffff; */
  border-radius: 30px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px 11px #000;
  z-index: 1000;
    display: none;
}

.iphone-mobile img {
    width: 100%;
    /* border-radius: 30px; */
    display: none;
}

.frame-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 11px #000, 0px 0px 0px 13px #000;
  z-index: 100;
  display: none;
}

.notch-mobile {
  width: 138px;
  height: 19.3px;
  background: #000;
  position: absolute;
  z-index: 100;
  border-bottom-left-radius: 15px;
  left: 59.1px;
  border-bottom-right-radius: 15px;
  display: none;
}

@media screen and (max-width: 980px) {
  .iphone {
    display: none;
  }

  .iphone-mobile {
    display: inline-block;
    margin: 25px auto 50px auto!important;
  } 

  .iphone-mobile img {
    display: inline-block;
    border-radius: 25px;
  }

  .frame-mobile {
    display: inline-block;
  }

  .notch-mobile {
    display: inline-block;
  }
}