@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.brand {
    font-size: 75px;
    font-family: 'Yellowtail', cursive;
    color: #F2A03F;
}

.download-tag {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 50px;
}

#footer {
    height: 500px;
    background: black;
    z-index: 100000;
    position: relative;
    text-align: center;
    padding: 75px 0px;
    height: auto;
}

#footer ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0px;
}

#footer li {
    display: inline;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 0px 10px;
    margin-right: 20px;
}

#footer .divider{
    width: 0px!important;
    text-align: center;
}

#footer ul a {
    text-decoration: none;
    color: white;
}

.store-button-footer {
    border: 1px solid white;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin: 0px 20px;
}

.store-wrapper-footer {
    margin: auto;
    width: 100%;
    text-align: center;
    display: inline;
    justify-content: center
}

@media screen and (max-width: 980px) {
.store-button-footer {
    margin: 20px;
    width: 150px;
}
}