@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

nav {
    background: transparent;
    height: 100px;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    color: #F2A03F;
    margin-left: 100px;
}

.navbar-nav {
    margin-right: 100px;
}

.nav-item {
    width: auto;
    text-align: center;
    margin-right: 50px;
}

.nav-item a {
    text-decoration: none;
    color: black!important;
}

.nav-link {
    font-size: 12px;
    text-transform: uppercase;
}